<!-- HEADER -->
<div layout-gt-sm="row" >
  <div flex-gt-sm="50" style='overflow: scroll' >
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <a href="/" class="goHome">
          <span class="glyphicon glyphicon-home"></span>
        </a>
        <a href="/codingPosts" class="goHome">
          <span style='margin-left:30px' class="glyphicon glyphicon-arrow-left"></span>
        </a>
      </div>
    </md-toolbar>
    <md-content>
      <md-list flex >
        <md-subheader style='font-size:2em' class="md-no-sticky text-center">Edit the {{vm.post.scripting_language}} Project</md-subheader> 
      </md-list>
    </md-content>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~still need to figure out who changing the topic field changes the subheader~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<form class='formText NEWmargin' name="newCodingProject" ng-submit="vm.updatePost(vm.post)" >
<div layout="column" >
  <div class="NEWspacer"></div>
  <div flex>
    <md-input-container>
      <label>Framework</label>
      <input name="topic" md-no-asterisk ng-model="vm.post.scripting_language"   required >
    </md-input-container>
  </div>
  <div flex>
    <md-input-container md-no-float >
      <label>Brief Description</label>
      <textarea  name="description" md-no-asterisk ng-model="vm.post.description" placeholder=" " required ></textarea>
    </md-input-container>
  </div>
</div>
  <button type="submit" class="btn btn-success NEWmargin" >Edit Post</button>
</form>