<!-- HEADER -->
<div layout-gt-sm="row" >
  <div flex-gt-sm="50" style='overflow: scroll' >
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <a ng-click="vm.goBackToCodingIndex()" class="smallGobackHomeArrow">
          <span style='margin-left:10px' class="glyphicon glyphicon-arrow-left"></span>
        </a>
      </div>
    </md-toolbar>
    <md-content>
      <md-list flex >
        <md-subheader style='font-size:2em' class="md-no-sticky text-center">POST AN IDEA</md-subheader> 
      </md-list>
    </md-content>

    <form  name="newCodingProject" class='formText NEWmargin' ng-submit="vm.addCodingPost(vm.post)" >
    <div layout="column" class='inputfieldForNewPost' >
      <div class="NEWspacer"></div>
      <div >
        <md-input-container>
          <label style='color:white'>Framework</label>
          <input class='inputField' name="topic" md-no-asterisk ng-model="vm.post.framework" placeholder=" " autofocus required >
        </md-input-container>
      </div>
      <div >
        <md-input-container md-no-float >
          <label style='color:white'>Brief Description</label>
          <textarea class='inputField' name="description" md-no-asterisk ng-model="vm.post.description" placeholder=" " required ></textarea>
        </md-input-container>
      </div>
    </div>


      <button type="submit" class="btn btn-success NEWmargin" >Create Post</button>
    </form>
  </div>

  <div flex-gt-sm="50" >
        <video id="owlVid2"  muted autoplay >
          <source src="images/NewOwl666.mp4" type="video/mp4">
       </video>
  </div>
</div>
