<div layout-gt-sm="row">
  <div flex-gt-sm="50" style='overflow: hidden; height: 100vh; object-fit: inherit'>
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <a ng-click="vm.goBackToFilmIndex()" class="backArrow">
          <span style='margin-left:10px' class="glyphicon glyphicon-arrow-left"></span>
        </a>
        <!-- <h3>FILM</h3> -->
      </div>
    </md-toolbar>
    <md-content style='height:100%;'>
      <md-list flex>
        <md-subheader style='font-size:2em' class="md-no-sticky text-center">PROPOSE A FILM PROJECT</md-subheader>
      </md-list>
      <div flex layout-gt-sm="column" style='height:83%'>
        <div flex-gt-sm="100">
          <md-content class='height100'>
            <form name="newFilmProject" ng-submit="vm.addFilmPost(vm.post)" style='height: 100%'>
              <div layout="column" class='height100'>
                <div flex>
                  <md-input-container class='width70'>
                    <label style='color:black' class='arial'>Descriptive Title</label>
                    <input autocomplete="off" name="topic" class='newPostTopicArea'  ng-model="vm.post.descriptive_title" placeholder=" "
                      autofocus required style="height: 50px">
                  </md-input-container>
                </div>
                <div flex style='margin-bottom: 40px;'>
                  <md-input-container class='width70'>
                    <label style='position: static' class='arial'>Genre (optional)</label>
                    <input autocomplete="off" name="topic" class='newPostTopicArea' md-no-asterisk ng-model="vm.post.genre" placeholder=" "
                      autofocus='true' style="height: 50px">
                  </md-input-container>
                </div>
                <div flex>
                  <md-input-container class='width70'>
                    <label style='color:black' class='arial'>Project Summary</label>
                    <input autocomplete="off" name="topic" class='newPostTopicArea'  ng-model="vm.post.summary" placeholder=" "
                      autofocus required style="height: 50px">
                  </md-input-container>
                </div>
                <div flex>
                  <div class='submitButtonContainer'>
                    <label for='submit-form'> Submit</label>
                  </div>
                  <button type="submit" class="btn btn-7 btn-7h hidden" id="submit-form">
                    <i class="material-icons md-48">add</i> Create Post</button>
                </div>
              </div>
            </form>
          </md-content>
        </div>
      </div>
  </div>
  </md-content>
  <div flex-gt-sm="50">
    <video id="owlVid2" muted autoplay>
      <source src="images/NewOwl666.mp4" type="video/mp4">
    </video>
  </div>
</div>