.jumbotron.mailbox{
	height: 65vh;
	/* overflow: scroll; */
}

#mailList{
	max-height: 65vh;
}
.filmCommentMailHeader{
	background-color: #f9dace;
}
.filmCommentMailOdd{
	/* overflow: scroll; */
	background-color:#e6c8ff;
}
.filmCommentMailEven{
	/* overflow: scroll; */
	background-color: #d1ffd9;
}
div.md-list-item-text{
	width: 100%;
}
.musicCommentMailHeader{
	/*background-color: #bfd9bf;*/
	background-color: #a6e7c5;
}
.musicCommentMailOdd{
	/* overflow: scroll; */
	background-color:#e6c8ff;
}
.musicCommentMailEven{
	/* overflow: scroll; */
	background-color: #d1ffd9;
}
.codingCommentMailHeader{
	background-color: #c7aeff;
}
.codingCommentMailOdd{
	/* overflow: scroll; */
	background-color:#a0c4d8;
	background-color:white;
}
.codingCommentMailEven{
	/* overflow: scroll; */
	background-color: #bad3e2;
	background-color:white;
}
md-list {
	background-color: #F0F8FF;
	/*max-height: 80vh;*/
}
md-list-item.filmCommentMailOdd:hover{
	background-color: #CFB4E5;
}
md-list-item.filmCommentMailEven:hover{
	background-color: #BCE5C3;
}
md-list-item.musicCommentMailOdd:hover{
	background-color: #CFB4E5;
}
/*md-list-item.musicCommentMailEven:hover{
	background-color: #BCE5C3;
}*/
md-list-item.codingCommentMailOdd:hover{
	background-color: rgb(255,64,129);
}
md-list-item.codingCommentMailEven:hover{
	background-color: rgb(255,64,129);
}
.mailbox md-list-item{
	padding: 0;
}
md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple:hover, .mailbox md-list-item:hover{
	/* font-size:2em; */
	background-color: #f5f5dc;
	transition: all 0.2s;
}
md-pagination-wrapper{
	width: 100% !important;
}
div md-content.ng-scope{
	padding-left:10px;
}
.mailbox-message-pane{
	background-color: white;
}
.mailbox-response-pending-text{
	/* max-width: 60%; */
}
.accept-decline-button-container{
	width: 40%;
	align-items: center;
	justify-content: center;
	display: flex;
}
.md-list-item-text .layout-row{
	max-height: 100px;
}
.pending-accept-container, .pending-decline-container{
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	padding-left: 5px;
	padding-right:15px;
	font-weight: bold;
	outline: 0;
}
.pending-accept-container:hover{
	color: green;
}
.pending-decline-container:hover{
	color: red;
}
.mailboxLeftCol{
	flex: 4;
	background: white;
}
.mailboxRightCol{
	flex: 5;
	height: 100%;
	background: white;
}
#chat-wrapper, #profile-pane-wrapper{
    margin:0 auto;
	padding-bottom:25px;
	padding-top: 25px;
    background:#EBF4FB;
    border:1px solid #ACD8F0; 
}
#chat-wrapper > form{
	margin: 0 auto;
	width: 80%;
}
.profile-pane-wrapper{
    border: none; 
}
.chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    background:#fff;
    height:50vh;
    width:80%;
	border:1px solid #ACD8F0;
	border-radius: 5px;
	overflow:auto; 
}
.user-profile-pane {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    background:#fff;
    height:55vh;
    width:80%;
	border:1px solid #ACD8F0;
	border-radius: 5px;
	overflow:auto; 
}
.user-profile-main{
	padding: 15px 15px 0px 15px;
}
.user-profile-top-row{
	border-bottom: 1px solid #ACD8F0
}
.mailboxRightCol md-content, #wrapper{
	height: 100%;
	background-color: #EBF4FB;
	border:1px solid #ACD8F0; 
}
.mailbox-main-content-row{
	height: 68vh;
}
.crimson{
	color: rgb(100, 13, 30);
}
.highlightable p{
	margin:	0;
}
.highlightable hr{
	padding: 0; 
	margin: 0;
	border-top: 1px dotted #e7e6e6;
}
.chatbox-button-row{
	width: 80%;
    height: 48px;
    margin: 0 auto;
}
.chatbox-button-row button{
	/* margin: 0 auto; */
}
.chatbox-button{
	/* margin: 0 auto; */
	margin: 5px;
    width: 165px;
    height: 35px;
    color: black;
    border: 1px solid black;
	text-align: center;
	line-height: 33px;
}
.chatbox-button:hover, .chatbox-button label:hover{
	cursor: pointer;
	background-color: lightGreen;
}
 /* md-tabs{
	 height: 100%;
 }
md-tab-content > div{
	height: 100%;
}
.vertical-scroll{
                height: 100%;
                overflow-y: auto;
} */
.md-tabWrapper{
	margin-top: 300px;
}
md-tabs-wrapper{ 
	/* position: fixed;  */
	top: 0px; 
	left: 0px; z-index: 1000; 
	width: 100%; 
}


footer{
	background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
	width: 100%;
	height: 80px;
}

/* .ripple {
  position: relative;
  &:active > .wave {
    animation: ripple 2.25s;
  }
  .wave{
    position:absolute;
    width:100%;
    height:100%;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 0 0;
    top:0;
    left:0;
    transform: scale(0);
    opacity:0;
  }
}
@keyframes ripple {
  0% {transform: scaleX(0);}
  50%{transform: scaleX(1);opacity:0.3;}
  100%{transform: scaleX(1);opacity:0;background-size: 1000% 1000%;}
} */