body{
	color:black;
	background-color: none ;
}
*{
	-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
outline: none;
}
.layout-row{
	outline: 0;
}
md-list md-list-item{
	padding: 0px !important;
}
md-list-item p{
	color: black;
}
md-list-item div{
	/* padding: 0 !important; */
}
h1{
	margin: 0;
}
.owl-pane{
	position:fixed; 
	margin-left: 50%; 
	width:50%
}
label{
	margin-bottom: 0px;
}
.navbar-fixed-bottom, .navbar-fixed-top{
	position: static ;
	height: 101px;
}
.glyphicon-arrow-right:before {
	content: "\e092";
	color: CadetBlue !important;
}
.md-toolbar-tools{
	background-color: #5994b5;
	padding: 0px 40px;
	/* height: 10vh; */
}
.md-toolbar-tools h3{
	margin: 0 auto;
	color: white;
}
.you{
	color:blue;
}
.recipient{
	color:blue;
}
#postRow:focus{
	outline:0;
}
/* .post-container-outer{
	width: 100%;
} */
.postContentContainer h3,h6 .topic{
	color:maroon;
}
.postStyle{
	font-family: 'Raleway', sans-serif;
}
/* .commentStyle{
	font-family: 'Lato', Calibri, Arial, sans-serif;
} */

.chatbox md-list-item{
	font-family: "Josefin Sans";
	color: maroon;
	font-size:3em;
}
.cornflowerBlue{
background-color:CornflowerBlue 	
}
.cadet{
background-color:CadetBlue;
}
.topicText{
	color:midnightblue;
}
.inputfieldForNewPost{
	margin-left: -14%;
}

.postText{
	white-space: normal;
	color:black;
	line-height: 5px;
	font-size:1em;
}
img{
	width: 100%;
}
.navbar .container img {
	width: 100px;
	height: 100px;
}
.userPic img {
	width: 100px;
	height: 100px;
}
.owlDiv{
	width: 100vw ;
	height: 20vh;
}
.owlImg{
	position:relative;
	max-width: 100px;
	max-height: 12vh;
	margin-left: 76%;
	margin-top: -11%;
	z-index: 1000
}

.testDiv{
	margin: 20px;
	background-color: crimson;
	height: 150px;
	width: 150px;
}
.post-content-main-pain{
  /* display: flex;
  flex-direction: column; */

  display: flex;
  flex-flow: column;
  align-items: stretch;
  /* height: 100px; */
}
.postContentContainer a{
	/* cursor: pointer; */
	margin: 5px;
}
.mainText {
	height: 200px;
  background-color: #42A5F5; color: blue;}
.mainText2 {
	height: 200px;
  background-color: #689F38; color: blue;}
.mainText3 {
	height: 200px;
  background-color: #26C6DA; color: blue;}
.filmPreview1{
	height: 300px;
	background-color: #689F38;
}
.filmPreview2{
	height: 300px;
	background-color: #26C6DA;
}
.textBox{
	overflow-y:scroll;
	height: 30%;
}
.musicPreview1{
	height: 300px;
	background-color: #26C6DA;
}
.musicPreview2{
	height: 300px;
	background-color: #42A5F5;	
}
.codingPreview1{
	height: 300px;
	background-color: #42A5F5;
}
.codingPreview2{
	height: 300px;
	background-color: #689F38;
}
.leftMargin{
	height: 10px;
	width: 10px;
	margin-left: 80px;
}
.cahoots-headline{
	color: #0c1133;
	font-size:4em !important;
	font-family: 'Limelight';
	text-shadow: 5px 1px #cbdd86;
	margin-left: 10px;
}
#descriptive-title-label{
	position: static;
}
#new-project-subheader{
	font-size: 1.6em;
}
.btn-xlg {
    padding: 18px 28px;
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
.navbar-brand.login-button{
	margin-top: 1.5%;
	margin-left: 33px;
}
.spacer{
	height: 20px;
}
.FilmButton{
	margin-left: 0px
}
.MusicButton{
	margin-top:20px;
	margin-left: 79px
}
.CodingButton{
	margin-top:20px;
	margin-left: 160px
}
.CleanupButton{
	margin-top:20px;
	margin-left: 250px
}
.bigButton{
	margin-top:20px;
}
.goHome{
	margin-left: 50px;
}
.backArrow{
	color:white !important;
	font-size:2.3em;
	transition: 1s all;
	cursor: pointer;
}
.backArrow:hover {
	color:#35fc2a !important;
	margin-left: -5px;
	margin-right: 5px;
}
.goBack{
	font-size:1.5em;
}
.delete{
	font-size:1.5em;
	margin-left: 75%;
}
.testies{
	height: 100%;
}
.testies button{
	margin-top:200%;
};
.md-tab{
	font-size:40px;
	font-weight: 700;
}
.userPic{
	height: 100px;
	width: 100px;
}
.postContentContainer{
	margin-left: 15px;
	width: 100%;
	max-height: 100px;
}
.menu-row{
	height: 80px;
	margin-bottom: 1px;
}
.post-date-label{
	margin-right: 2%;
	/* color: mediumslateblue; */
	color: grey;
}
.panel{
	max-height: 650px;
}
.newButton{
	font-family: 'Fjalla One', sans-serif;
	font-size:2em;
	width: 200px;
	height: 55px;
}
.filmSidePanel{
	height: 80vh;
	width: 49vw;
}
.glyphicon-home{
	color:#58157e !important;
	font-size: 2.25em !important;
}
#homeButton{
	height: 200px;
	width: 200px;
	margin-left: 220px;
	font-size:2em;
}
.homeButton{
	margin-left: 400px;
	height: 200px;
	width: 200px;
}
.mailbox-response-pending-text p{
	margin: 0px;
	font-family: "Arial";
}
.md-toolbar-tools a, .mailbox a{
	color: white; 
	transition: all 1s;	
	font-size: 1.6em;
}
.md-toolbar-tools a:hover, .mailbox a:hover{
	color: #35fc2a; 	
}
.mailbox .backArrow span{
	margin-top: 10px;
	margin-left: 20px;
}
.postLine{
	margin-top: 5px;
	margin-bottom: 5px;
	border: 0.5px solid rgb(140,158,255);
}
.odd{
	background-color: #cce7ff;
	padding:0px;
	display: block;
}
.odd:hover{
	background-color: #b8d8f3;
}
.odd.noHover:hover{
	background-color: #cce7ff;
}
.even{
	background-color: #d3defd;
	padding:0px;
	display:block;
}
.even:hover{
	background-color: #c7d4fa;
	/* background-color: #cdcde9; */
}
.even.noHover:hover{
	background-color: #d3defd;
}
.odd2{
	background-color: #dddeff;
	padding:0px;
	display: block;
	border: 0 ;
}
.odd2:hover{
	background-color: 	#c9caee
}
.even2{
	/* background-color: #E6FFCC; */
	background-color: #eaf1f7;
	padding:0px;
	display:block;

}
.even2:hover{
	background-color: #d7e2eb;
}
 md-list-item._md-button-wrap.item-text-wrap>div.md-button:first-child{
	display:block;
	padding:0px;
}
.focus{
	background-color: #cce7ff;
}
.md-list-item-text {
	white-space: inherit;
	height: 100%;
}
#goButton{
	height: 60px;
	margin-left:40px;
}
.descrip{
	white-space: normal;
	line-height: 25px !important;
	max-height: 50px !important;
};
.H100px{
	height: 100px;
}
/* ng-map {width:100%; height:100%;position: absolute;} */


.formText{
	margin-top: 16%;
	font-size: 1.8em;
}
.NEWspacer{
	height: 0px;
}
.NEWmargin {
	margin-left:140px;
}
#map{
	height: 100vh;
    overflow:visible;
}
.cahoots{
	font-size:8em;
}
.cahootsSpacer{
	height: 100px;
}
.mainBar{
	opacity:0.9;
}

#mainFilmButton{
	font-size:3em;
	color:blue;
}
.previewImg{
	height: 100%;
	width: 100%;
}
.menuLine1{
	margin-left:15px;
}
.menuLine2{
	margin-left:65px;
}
.menuLine3{
	margin-left:115px;
}
.menuLine4{
	margin-left:165px;
}
#home{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin:0px;
}
.newFilm{
	font-size:2em;
}
.conversationArea div{
	height: 100px;
}
.conversationArea button{
	width: 50%;
}
.conversationArea button:hover{
	background-color: #E5E5E5;
	outline: 0;
}
.responsesLabel{
	height: 40px;
	background-color: mintcream; 
}
.responsesLabel div{
	margin: 0 auto;
	line-height: 40px;
}

.material-icons.md-48 { font-size: 168px; margin-left: 0px;}
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }

header .jumbotron, .hero-spacer{
	font-family: 'Arial';
}
.userPicContainer{
	width: 100px;
}
.displayName{
	color:#58157e !important;
	max-height: 21px;
}
body, html{
	overflow-y: scroll !important;
}
#header-main{
	font-family: 'Amatic SC';
	color: white;
}
#header-main-mailbox{
	font-family: 'Amatic SC';
	color: white;
}



header p{
	font-family: 'Open Sans'
}
.caption h1 {
	font-weight: bold;
	font-family: 'Amatic SC';
	color: white;
}
.caption h4 {
	font-family: 'Open Sans';
	font-weight: 200;
	font-size:20px;

}
div .mailButton{
	height: 60px;
	width: 70px;
}
.mailButton #exclamation-graphic{
    position: relative;
    bottom: 78%;
    left: -25px;
    z-index: 0;
    height: 50px;
	width: 50px;
	outline: 0;
}
div .settingsButton{
	height: 100px;
	width: 110px;
}
div .owlButton{
	margin: 0 auto;
	height: 70px;
	width: 80px;
}

.nav a{
	font-size: 2em;
}
.navbar .container{
	margin-left: 2%;
}
md-input-container{
	font-size: 1.4em;
}
#owlVid2{
	width: 100%;
  	opacity: 0.6;
  	height: 100vh;
  	object-fit: inherit;
}
#pic img{
	max-height: 100px;
	max-width: 100px;
}
#pic img [ng-src*="http"]{
	visibility: visible;
}
.bottom-button{
	position: absolute;
 	bottom: 7px;
}
#preFooter-hr{
	color: black !important;
	background-color: black !important;
	width: 100vw !important;
	border-top: 1px solid black;
}

.container-fluid {
    padding-right: 45px;
    padding-left: 45px;
    margin-right: auto;
    margin-left: auto;
}
.postTextArea{
	/* flex: 1; */
	/* margin-bottom:5px; */
	/* height: 68vh; */
	background-color: #F0F8FF;
}
.postFilmResponseArea{
	width: 100%;
	border-radius: 20%;
	padding-top:6%;
}
.postMusicResponseArea{
	height: 33vh;
	width: 100%;
	border-radius: 20%;
	padding-top:6%;
}
.postCodingResponseArea{
	height: 33vh;
	width: 100%;
	border-radius: 20%;
	padding-top:6%;
}
.main-post-row{
	border: 1px solid black;
}
md-input-container.md-default-theme label, 
 md-input-container.md-default-theme .md-placeholder{
    color:white;
}
md-input-container.md-default-theme.md-input{
	color:white;
	border-color:white;
}
.post-content-left{
    height: 83vh;
}
.postTextField{ 
	padding:20px;
	border-radius: 9%;
	margin-left:5%;
	margin-top:7%;
	height: 65%;
	width: 90%;
	font-size:2em;
	line-height: 1.5;
}
.commentForm{
	height: 35vh;
	background-color: #fffdd3;
}
.arrowRight{
	width: 20px;
    height: 20px;
	margin:auto;
	top:35px;
	right:0;
	left: -15px;
	 -webkit-animation:3s arrow infinite ease; 
	animation: 3s arrow infinite ease;
	margin-left: -1%;
	border-right:2px solid #FFF;
	border-bottom:2px solid #FFF;
	-ms-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.flexbox{
	display:flex;
}

.md-button {
  color : currentColor;
}

.md-button:not([disabled]):hover {
  background-color: rgba(158, 158, 158, 0.2);
}

.md-button[disabled] {
  color : rgba(0, 0, 0, 0.26);
  background-color: transparent;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.postChatLeft{
	width: 100%;
	flex: 1;
	border-right: 1px solid black;
}
.postChatRight{
  /*border-right: 2px solid black;
  border-top: 2px solid black;*/
  border-left: 1px solid black;
  /*border-bottom: : 2px solid black;*/
}
.postChatLeft > h2, .postChatRight > h2{
	background-color: darkblue;
	color: white;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

.waitingResponse{
	padding: 10px;
	height: 100px;
}
.waitingResponse > h3:nth-child(2){
	margin-top:20px !important;
}
.btn-7{
	font-size: 0px;
}
label.btn.btn-7.btn-7h{
	padding: 15px 40px 15px 20px;
}

div.flex md-input-container{
	margin: 18px 0px 18px 1pc;
}

.width70{
	width: 70%;
}

.messageContainer{
	height:100%
}
.arial{
	font-weight: 100;
	font-family: arial;
	color: black;
	letter-spacing: 3px;
}
textarea, 
pre {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background:transparent;
  font-size: 0.6em;
  font: helvetica;
}
md-content{
	outline: 0;
}
md-content div.text-center.owlButton{
	margin-top: 15%;
}

input.newPostTopicArea{
	font-size: 1em;
	    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.expandingArea {
  position: relative;
  border: 1px solid #888;
  /*background: #fff;*/
}

#fakespan{
	/*display: inline-block;*/
	overflow-wrap: break-word;
	white-space: pre-wrap;
	/*word-wrap: normal !important;*/
	word-break: keep-all;
}

.expandingArea > textarea,
.expandingArea > pre {
  padding: 5px;
  background: white !important;
  font: 400 13px/16px helvetica, arial, sans-serif;
  /* Make the text soft-wrap */
  white-space: pre-wrap;
  word-wrap: break-word;
 background:white;
  width: 100%;
  height: 5vh;
  /* line-height: 40px; */
  font-size: 0.65em;
}


.expandingArea > textarea {
  /* The border-box box model is used to allow
   * padding whilst still keeping the overall width
   * at exactly that of the containing element.
   */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  /* This height is used when JS is disabled */
  height: 100px;
  background:white;
}

.expandingArea.active > textarea {
  /* Hide any scrollbars */
  /*background-color:green;*/
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Remove WebKit user-resize widget */
  resize: none;
   background:white;
}
.newPostTextArea{
	background:transparent !important; 
	color:white; 
	word-wrap: break-word; 
	white-space: pre-wrap; 
	height:1px; 
	margin-top:-20px; 
	font-size: 1px; 
	cursor: pointer;
}
.expandingArea > pre {
  display: none;
}
.expandingArea.active > pre {
  display: block;
  visibility: hidden;
}
  /* Hide the text; just using it for sizing */


.blinking-cursor {
  font-weight: 100;
  /*font-size: 30px;*/
  color: grey;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
  font-family: arial;
  font-size: 20px;
  padding-left: 5px;
  visibility: hidden;
  padding-top: -5px;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
/*************************************/
/*CHATBOX*/

#chat-wrapper > form{
	margin: 0 auto;
	width: 80%;
}

.chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    /* padding:10px; */
    background:#fff;
    height:50vh;
    width:80%;
	border:1px solid #ACD8F0;
	border-radius: 5px;
	overflow:auto; 
}
 .chatbox ul{
 	list-style-type: none;
 } 

/* textarea:focus, input:focus{
    outline: none;
}*/


#usermsg {
    width:84%;
    border:1px solid #ACD8F0; 
    border-radius : 5px;
    text-indent: 10px;
}
#usermsg:focus {
	outline: none;
}


  
#submit { width: 60px; }
input#submitmsg{
	border-radius: 5px;
    width: 75px;
}
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }

.welcomeOptionsContainer{
	width: 50%;
	margin: 0 auto;
}
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }

.crickets-container{
	padding: 18px;
}
.post-summary-container{
	height: 168px;
	background-color: #dfeefc;
	padding: 18px;
	border-bottom: 1px solid black;
	color: black;
	font-size: 10px;
}
.post-summary-container h5{
	margin-top: 0px;
}
.post-summary-container p{
	font-weight: 400;
	letter-spacing: 1px;
}
.log-in-to-respond-message-container{
	padding-left: 18px;
}
.comment-form-container{
	padding: 0px 10px;
}
.comment-form-container h5{
	margin-top: 0px;
}
.message-pitch-container{
	padding: 18px;
}
.message-pitch-container h5{
	margin-top: 0px;
}
.messageLabel{
	font-weight: 300;
}
.commentInputContainer{
	margin-top:50px;
}
.commentInputContainer label{
	font-weight: 300;
}
.name-container{
	display:inline-block;
	color:white; 
	font-size:1.3em; 
	margin-left:10px; 
}
.name-container a{
	font-size: 12px;
}
.submitButtonContainer{
	margin-left: 18px;
	width:75px; 
	color: black;
	border: 1px solid black;
	text-align: center;
}
.submitButtonContainer:hover, .submitButtonContainer label:hover{
	cursor: pointer;
	background-color: lightGreen;
}
.submitRow {
	display: flex;
	justify-content: flex-end;
	padding-left: 10%;
    padding-right: 5%;
}
.container-fluid .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 0px;
}

.revisedThumbnail{
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.dataShareMessageContainer{
	position: fixed;
	    top: 70%;
	    background: grey;
	    left: 14%;
	    height: 100px;
	    display: table-cell;
	    vertical-align: middle;
}
#video-background{
	z-index:6;
	width: 100vw;
	opacity: 0.6;
	height: 100vh;
	object-fit: fill;
}
#owl{
	object-fit:cover;
}