     <!-- Custom CSS -->
    <link href="stylesheets/heroic-features.css" rel="stylesheet">


 <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div  class="container" style='margin-left: 0px'>
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- <div id='navbar' class="navbar-header">
                <a id='newloginButton' class="navbar-brand" ng-click="vm.login()" href="javascript:;" >Login</a>
            </div> -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                    <span style='display:inline' id='newpic'><img style='display:inline-block' ng-src="{{vm.navpicture}}"
                    alt=''></span>
                
                <div id='newname'  style='display:inline-block; color:white; font-size:3em; margin-left:10px; margin-top: 20px;'>
                    <div> {{vm.name}}</div>
                    <a style='font-size:12px' id='newlogoutButton' class="navbar-brand " ng-click="vm.logout()" href="javascript:;">Logout</a>
                </div>
             </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container-fluid" style='overflow:scroll'>

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <a href="/loggedinHome" class="goBack">
              <span class="glyphicon glyphicon-arrow-left"></span>
            </a>
            <h1 id='header-main-mailbox' class='text-center'>MAILBOX </h1>
            

              <div layout-gt-sm="column" >
                <div flex-gt-sm="80">
                  <md-content>
                    <md-list id='mailList' style='margin-left:0px; overflow: scroll !important;' >

                    <!--_____________________________FILM MAIL______________________________-->

                          <md-list-item md-ink-ripple="#FF0000" ng-show='vm.showFilmMail' class="md-2-line item-text-wrap filmCommentMailHeader">
                            <div class="md-list-item-text">
                                <div layout='row'>
                                  <div flex-gt-sm='15' class='userPicContainer'>
                                     <img class='userPic' ng-src="images/film3.jpg" alt="">
                                  </div>    
                                  <div flex-gt-sm='85' class='postContentContainer' layout-padding>
                                    <div ng-show='vm.hasFilmMail' class='pull-left mailButton'><span><img src="images/exclamation.png" alt=""></span>
                                    </div>

                                    <h2 style='font-weight: bold'>Film Mail</h2>
                                     
                                  </div>   
                                </div>
                            </div>
                          </md-list-item>
                          <md-list-item ng-show='vm.showFilmMail'  ng-repeat="post in vm.filmCommentPosts track by $index" class="md-2-line item-text-wrap" md-ink-ripple="#FF0000" ng-class-odd="'filmCommentMailOdd'" ng-class-even="'filmCommentMailEven'" >
                            <div class="md-list-item-text">
                                <div layout='row' ng-click="vm.show($index)">
                                  <div flex-gt-sm='15' class='userPicContainer'>
                                     <img class='userPic' ng-src="{{post.user_pic}}" alt="">
                                  </div>    
                                  <div flex-gt-sm='85' class='postContentContainer' layout-padding>
                                      <h6 style='font-family: "Josefin Sans"; font-weight:bold; font-size:2em; margin-top:15px; margin-left:20px'>Responding to: {{post.genre}}</h6>
                                      <h3 style='font-family: "Josefin Sans"; font-weight:bold; font-size:2em; margin-top:15px; margin-left:20px'>{{post.comment}}</h3>
                                  </div>          
                                  
                                </div>
                            </div>
                          </md-list-item>

                <!-- ____________________________MUSIC MAIL___________________________-->

                    <md-list-item md-ink-ripple="#FF0000" ng-show='vm.showMusicMail' class="md-2-line item-text-wrap musicCommentMailHeader">
                            <div class="md-list-item-text">
                                <div layout='row'>
                                  <div flex-gt-sm='15' class='userPicContainer'>
                                     <img class='userPic' ng-src="images/music3.jpg" alt="">
                                  </div>    
                                  <div flex-gt-sm='85' class='postContentContainer' layout-padding>
                                    
                                    <div ng-show='vm.hasNewMusicMail' class='pull-left mailButton'><span><img src="images/exclamation.png" alt=""></span>
                                    </div>

                                    <h2 style='font-weight: bold'>Music Mail</h2>
                                     
                                  </div>   
                                </div>
                            </div>
                    </md-list-item>
                    <md-list-item ng-show='vm.showMusicMail'  ng-repeat="post in vm.musicPostComments track by $index" class="md-2-line item-text-wrap" md-ink-ripple="#FF0000" ng-class-odd="'musicCommentMailOdd'" ng-class-even="'musicCommentMailEven'" >
                      <div class="md-list-item-text">
                          <div layout='row'>
                            <div flex-gt-sm='15' class='userPicContainer'>
                               <img class='userPic' ng-src="{{post.user_pic}}" alt="">
                            </div>    
                            <div flex-gt-sm='85' class='postContentContainer' layout-padding>
                                <h6 style='font-family: "Josefin Sans"; font-weight:bold; font-size:2em; margin-top:15px; margin-left:20px'>Responding to: {{post.genre}}</h6>
                                <h3 style='font-family: "Josefin Sans"; font-weight:bold; font-size:2em; margin-top:15px; margin-left:20px'>{{post.comment}}</h3>
                            </div>          
                            
                          </div>
                      </div>
                    </md-list-item>

                    <!--______________________________CODING MAIL____________________________-->

                    <md-list-item md-ink-ripple="#FF0000" ng-show='vm.showCodingMail' class="md-2-line item-text-wrap odd">
                      <div class="md-list-item-text">
                          <div layout='row'>
                            <div flex-gt-sm='15' class='userPicContainer'>
                               <img class='userPic' ng-src="images/coding3.jpg" alt="">
                            </div>    
                            <div flex-gt-sm='85' class='postContentContainer' layout-padding>
                              
                              <div ng-show='vm.hasNewCodingMail' class='pull-left mailButton'><span><img src="images/exclamation.png" alt=""></span>
                              </div>

                              <h2 style='font-weight: bold'>Coding Mail</h2>
                               
                            </div>    
                          </div>
                      </div>
                    </md-list-item>
                    <md-list-item ng-show='vm.showCodingMail'  ng-repeat="post in vm.codingPostComments track by $index" class="md-2-line item-text-wrap" md-ink-ripple="#FF0000" ng-class-odd="'codingCommentMailOdd'" ng-class-even="'codingCommentMailEven'" >
                      <div class="md-list-item-text">
                          <div layout='row'>
                            <div flex-gt-sm='15' class='userPicContainer'>
                               <img class='userPic' ng-src="{{post.user_pic}}" alt="">
                            </div>    
                            <div flex-gt-sm='85' class='postContentContainer' layout-padding>
                                <h6 style='font-family: "Josefin Sans"; font-weight:bold; font-size:2em; margin-top:15px; margin-left:20px'>Responding to: {{post.scripting_language}}</h6>
                                <h3 style='font-family: "Josefin Sans"; font-weight:bold; font-size:2em; margin-top:15px; margin-left:20px'>{{post.comment}}</h3>
                            </div>          
                            
                          </div>
                      </div>
                    </md-list-item>
                  </md-content>
                </div>
        </header>

        <hr>

  
        <!-- Page Features -->



        <hr id='preFooter-hr'>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div  class="col-lg-12 text-center">
                    <p>Copyright &copy; cravenTech 2016 || the world is your oyster</p>
                </div>
            </div>
        </footer>
    <!-- /.container -->

