     <!-- Custom CSS -->
    <link href="stylesheets/heroic-features.css" rel="stylesheet">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container" >
          <img ng-src="{{vm.navpicture}}">
          <div class='name-container'>
              <div> {{vm.displayName}}</div>
              <a class="navbar-brand " ng-click="vm.logout()" href="javascript:;">Logout</a>
          </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class=" hero-spacer mailbox">
          <a ng-click='vm.goBack()' class="backArrow">
            <span class="glyphicon glyphicon-arrow-left"></span>
          </a>
          <h1 id='header-main-mailbox' class='text-center'>MAILBOX</h1>
          <div layout="row" class='mailbox-main-content-row'>
            <div layout="column" class='mailboxLeftCol' >
              <md-content>
                  <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Conversations" >
                      <md-content class="">
                        <md-tabs md-dynamic-height md-border-bottom>
                          <md-tab label="Pending">
                            <md-content>
                              <md-list-item  ng-show='vm.codingPostComments.length' ng-repeat="post in vm.codingPostComments track by post.id" class=""
                              ng-class-odd="" ng-class-even="">
                              <div class="md-list-item-text">
                                <div layout='row' md-ink-ripple="#FF0000" ng-mouseover='vm.isVisible = [post.comment, post.id]' ng-mouseleave='vm.hideButtons(post)'>
                                  <div  ng-style="{'width' : vm.littleLength}">
                                    <img class='userPic' ng-src="{{post.user_pic}}" alt="">
                                  </div>
                                  <div ng-style="{'width' : vm.longLength}"  class='mailbox-response-pending-text' layout-padding>
                                    <p>Responding to: {{post.descriptive_title}}</p>
                                    <p>{{post.display_name}} says: {{post.comment}}</p>
                                  </div>
                                  <div ng-style="{'width' : vm.middleLength}" layout='row'>
                                    <div  ng-show='vm.isVisible[0] === post.comment && vm.isVisible[1] === post.id' ng-click='vm.acceptConversation(post)' class='pending-accept-container' >
                                      <div>ACCEPT</div>
                                    </div>
                                    <div ng-show='vm.isVisible[0] === post.comment && vm.isVisible[1] === post.id' ng-click='vm.declineConversation(post, $event)' class='pending-decline-container' >
                                      <div>DECLINE</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </md-list-item>
                            <md-list-item ng-show='vm.filmPostComments.length' ng-repeat="post in vm.filmPostComments track by post.id" class="" ng-class-odd=""
                            ng-class-even="">
                            <div class="md-list-item-text">
                              <div layout='row' md-ink-ripple="#FF0000" ng-mouseover='vm.isVisible = [post.comment, post.id]' ng-mouseleave='vm.hideButtons(post)'>
                                <div ng-style="{'width' : vm.littleLength}">
                                  <img class='userPic' ng-src="{{post.user_pic}}" alt="">
                                </div>
                                <div ng-style="{'width' : vm.longLength}" class='mailbox-response-pending-text' layout-padding>
                                  <p>Responding to: {{post.descriptive_title}}</p>
                                  <p>{{post.display_name}} says: {{post.comment}}</p>
                                </div>
                                <div ng-style="{'width' : vm.middleLength}" layout='row'>
                                  <div ng-show='vm.isVisible[0] === post.comment && vm.isVisible[1] === post.id' ng-click='vm.acceptConversation(post)' class='pending-accept-container' >
                                    <div>ACCEPT</div>
                                  </div>
                                  <div ng-show='vm.isVisible[0] === post.comment && vm.isVisible[1] === post.id' ng-click='vm.declineConversation(post, $event)' class='pending-decline-container'
                                  >
                                  <div>DECLINE</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </md-list-item>
                        <md-list-item ng-show='vm.musicPostComments.length' ng-repeat="post in vm.musicPostComments track by post.id" class="" ng-class-odd=""
                        ng-class-even="">
                        <div class="md-list-item-text">
                          <div layout='row' md-ink-ripple="#FF0000" ng-mouseover='vm.isVisible = [post.comment, post.id]' ng-mouseleave='vm.hideButtons(post)'>
                            <div  ng-style="{'width' : vm.littleLength}">
                              <img class='userPic' ng-src="{{post.user_pic}}" alt="">
                            </div>
                            <div ng-style="{'width' : vm.longLength}" class='mailbox-response-pending-text' layout-padding>
                              <p>Responding to: {{post.descriptive_title}}</p>
                              <p>{{post.display_name}} says: {{post.comment}}</p>
                            </div> 
                            <div ng-style="{'width' : vm.middleLength}"; layout='row'>
                              <div ng-show='vm.isVisible[0] === post.comment && vm.isVisible[1] === post.id' ng-click='vm.acceptConversation(post)' class='pending-accept-container' >
                                <div>ACCEPT</div>
                              </div>
                              <div ng-show='vm.isVisible[0] === post.comment && vm.isVisible[1] === post.id' ng-click='vm.declineConversation(post, $event)' class='pending-decline-container'
                              >
                              <div>DECLINE</div>
                            </div>
                          </div>
                        </div>
                      </div>
                            </md-list-item>
                          </md-content>
                        </md-tab>
                        <md-tab id='active-convo-tab' label="Active">
                          <md-content>
                            <md-list-item ng-show='vm.activeConvos.length' ng-repeat="convo in vm.activeConvos track by convo.last_modified" class="" md-ink-ripple="#FF0000"
                            ng-class-odd="" ng-class-even="" >
                            <div class="md-list-item-text">
                              <div layout='row' ng-click='vm.activateConvo($index, convo,$event)'>
                                <div ng-style="{'width' : vm.littleLength}">
                                  <img class='userPic' ng-src="{{convo.conversation_with.user_pic}}" alt="">
                                </div>
                                <div ng-style="{'width' : vm.longestLength}" class='highlightable' layout-padding>
                                  <!-- <p>Responding to: {{convo.descriptive_title}} </p> -->
                                  <p class='crimson'>{{convo.conversation_with.user_name}}</p>
                                  <hr style='padding: 0; margin: 0'>
                                  <p>{{convo.latest_user}} said: {{convo.latest_message}}</p>
                                </div>
                              </div>
                            </div>
                          </md-list-item>
                          <!-- <md-list-item ng-show='vm.codingConvos.length' ng-repeat="convo in vm.codingConvos track by convo.created_at" class="" md-ink-ripple="#FF0000"
                            ng-class-odd="" ng-class-even="" >
                            <div class="md-list-item-text">
                              <div layout='row' ng-click='vm.activateConvo(convo,$event)'>
                                <div ng-style="{'width' : vm.littleLength}">
                                  <img class='userPic' ng-src="{{convo.user_pic}}" alt="">
                                </div>
                                <div ng-style="{'width' : vm.longestLength}" class='highlightable' layout-padding>
                                  <p>Responding to: {{convo.descriptive_title}}</p>
                                  <p>{{convo.display_name}} says: {{convo.message}}</p>
                                </div>
                              </div>
                            </div>
                          </md-list-item>
                          <md-list-item ng-show='vm.musicConvos.length' ng-repeat="convo in vm.musicConvos track by convo.created_at" class="" md-ink-ripple="#FF0000"
                            ng-class-odd="" ng-class-even="" >
                            <div class="md-list-item-text">
                              <div layout='row' ng-click='vm.activateConvo(convo,$event)'>
                                <div ng-style="{'width' : vm.littleLength}">
                                  <img class='userPic' ng-src="{{convo.user_pic}}" alt="">
                                </div>
                                <div ng-style="{'width' : vm.longestLength}" class='highlightable' layout-padding>
                                  <p>Responding to: {{convo.descriptive_title}}</p>
                                  <p>{{convo.display_name}} says: {{convo.message}}</p>
                                </div>
                              </div>
                            </div>
                          </md-list-item> -->
                        </md-content>
                      </md-tab>
                    </md-tabs>
                  </md-content>
                </md-tab>
                <md-tab label="Project Staging">
                  <md-content class="">
                    <md-list-item ng-show='vm.showCodingMail'  ng-repeat="post in vm.codingPostComments track by $index" class="md-2-line item-text-wrap" md-ink-ripple="#FF0000" ng-class-odd="'codingCommentMailOdd'" ng-class-even="'codingCommentMailEven'" >
                      <div class="md-list-item-text">
                        <div layout='row' ng-click='vm.respondCoding($index)'>
                          <div flex-gt-sm='15' class='userPicContainer'>
                            <img class='userPic' ng-src="{{post.user_pic}}" alt="">
                          </div>    
                          <div flex-gt-sm='85' class='postContentContainer' layout-padding>
                            <h6 style='font-family: "Josefin Sans"; font-weight:bold; font-size:2em; margin-top:15px; margin-left:20px'>Responding to: {{post.scripting_language}}</h6>
                            <h3 style='font-family: "Josefin Sans"; font-weight:bold; font-size:2em; margin-top:15px; margin-left:20px'>{{post.comment}}</h3>
                          </div>          
                          
                        </div>
                        <div ng-show='vm.showCodingResponseField' layout='row' class='responseField'>
                              <div  class='postCodingResponseArea'>

                                <form action="" ng-submit='vm.newMessage(post.id,vm.comment,"film")'>
                                <md-input-container class="md-block">
                                  <input autofocus='true' ng-model="vm.comment" type="comment" placeholder="Message:" ng-required="true">
                                </md-input-container>
                                <button type="submit" class="btn btn-success">Submit</button>
                                </form>
                              </div>
                            </div>
                        </div>
                      </md-list-item>
                    </md-content>
                  </md-tab>
                </md-tabs>
              </md-content>
            </div>
            <div layout="column" class='mailboxRightCol' class='mailbox-message-pane'>
              <md-content>
                <div ng-show='vm.showChatPane' id="chat-wrapper">
                    <div layout='row' class='chatbox-button-row'>
                      <div class='chatbox-button'>
                        <label for='submit-form'>Add User to Project</label>
                      </div>
                      <div class='chatbox-button' ng-click="vm.chatbox_toggle()">
                        <label> {{vm.chatbox_profile_toggle_label}}</label>
                      </div>
                    </div>
                    <div class="chatbox">
                      <ul class="chatboxText"></ul>
                    </div>
                    <form name="message" ng-submit="vm.newMessage(vm.convoMessage)">
                      <input name="usermsg" type="text" id="usermsg" class='pickles' ng-model="vm.convoMessage" size="63" />
                      <input name="submitmsg" type="submit" id="submitmsg" value="Send" />
                    </form>
                </div>
                <div ng-show='vm.showProfilePane' id="profile-pane-wrapper">
                  <div layout='row' class='chatbox-button-row'>
                    <div class='chatbox-button'>
                      <label for='submit-form'>Add User to Project</label>
                    </div>
                    <div class='chatbox-button' ng-click="vm.chatbox_toggle()">
                      <label> {{vm.chatbox_profile_toggle_label}}</label>
                    </div>
                  </div>
                  <div class="user-profile-pane">
                    <div class="user-profile-top-row">
                      <div layout='row'>
                        <div class='userPicContainer'>
                          <img class='userPic' ng-src="{{vm.user_profile.pic}}" alt="">
                        </div>
                        <div class='postContentContainer' layout-padding>
                          <h4>{{vm.user_profile.display_name}}</h4>
                        </div>
                      </div>
                    </div>
                    <div class="user-profile-main">
                        <p>{{vm.user_profile.bio}}</p>
                    </div>
                  </div>
                </div>
              </md-content>
            </div>
            </div>
          </div>
        <hr>
        <hr id='preFooter-hr'>
      </div>
    </div>  
    <footer>
      <div class="row">
        <ul>
          <li>
            <a href="javascript:void(0)">Privacy Policy</a>
          </li>
          <li>
            <a href="javascript:void(0)">Terms</a>
          </li>
          <li>
            <a href="javascript:void(0)">Contact</a>
          </li>
          <li style='font-size: 1.3em;'>
            <a target="_blank" href="https://www.twitter.com">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li style='font-size: 1.3em;'>
            <a target="_blank" href="https://www.facebook.com/CahootsLive">
              <i class="fab fa-facebook-square"></i>
            </a>
          </li>
          <li>
            <p>&copy; cravenTech 2018</p>
          </li>
        </ul>
      </div>
    </footer>

