     <!-- Custom CSS -->
    <link href="stylesheets/heroic-features.css" rel="stylesheet">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container" >
          <img ng-src="{{vm.navpicture}}">
          <div class='name-container'>
              <div> {{vm.name}}</div>
              <a class="navbar-brand " ng-click="vm.logout()" href="javascript:;">Logout</a>
          </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class=" hero-spacer mailbox">
          <a ng-click='vm.goBack()' class="backArrow">
            <span class="glyphicon glyphicon-arrow-left"></span>
          </a>
          <h1 id='header-main-mailbox' class='text-center'>MAILBOX</h1>
          <div layout="row">
            <div layout="column" class='mailboxLeftCol' >
              <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                  <md-tab label="Conversations" >
                    <md-content class="">
                      <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Pending">
                          <md-content class="">
                            <md-list-item  ng-show='vm.showCodingMail' ng-repeat="post in vm.codingPostComments track by post.id" class=""
                               ng-class-odd="" ng-class-even="">
                              <div class="md-list-item-text">
                                <div layout='row' md-ink-ripple="#FF0000" ng-mouseover='vm.showButtons(post)' ng-mouseleave='vm.hideButtons(post)'>
                                  <div  flex='15'>
                                    <img class='userPic' ng-src="{{post.user_pic}}" alt="">
                                  </div>
                                  <div flex='65'  class='mailbox-response-pending-text' layout-padding>
                                    <p>{{post.framework}}</p>
                                    <p>{{post.display_name}} says: {{post.comment}}</p>
                                  </div>
                                  <div flex='20' layout='row'>
                                    <div  ng-show='vm.isVisible === {{post.id}}' ng-click='vm.acceptConversation(post)' class='pending-accept-container' flex='50'>
                                      <div>ACCEPT</div>
                                    </div>
                                    <div ng-show='vm.isVisible === {{post.id}}' ng-click='vm.declineConversation(post, $event)' class='pending-decline-container' flex='50'>
                                      <div>DECLINE</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </md-list-item>
                          </md-content>
                        </md-tab>
                        <md-tab id='active-convo-tab' label="Active">
                          <md-content class="">
                            <md-list-item ng-show='vm.showFilmMail' ng-repeat="post in vm.filmPostComments track by $index" class="" md-ink-ripple="#FF0000"
                              ng-class-odd="" ng-class-even="">
                              <div class="md-list-item-text">
                                <div layout='row' ng-click='vm.respondFilm($index)'>
                                  <div flex-gt-sm='15' class=''>
                                    <img class='userPic' ng-src="{{post.user_pic}}" alt="">
                                  </div>
                                  <div flex-gt-sm='85' class='mailbox-response-pending-text' layout-padding>
                                    <p>Responding to: {{post.topic}}</p>
                                    <p>{{post.display_name}} says: {{post.comment}}</p>
                                  </div>
                                </div>
                              </div>
                            </md-list-item>
                          </md-content>
                        </md-tab>
                      </md-tabs>
                    </md-content>
                  </md-tab>
                  <md-tab label="Project Staging">
                    <md-content class="">
                      <md-list-item ng-show='vm.showCodingMail'  ng-repeat="post in vm.codingPostComments track by $index" class="md-2-line item-text-wrap" md-ink-ripple="#FF0000" ng-class-odd="'codingCommentMailOdd'" ng-class-even="'codingCommentMailEven'" >
                        <div class="md-list-item-text">
                            <div layout='row' ng-click='vm.respondCoding($index)'>
                              <div flex-gt-sm='15' class='userPicContainer'>
                                  <img class='userPic' ng-src="{{post.user_pic}}" alt="">
                              </div>    
                              <div flex-gt-sm='85' class='postContentContainer' layout-padding>
                                  <h6 style='font-family: "Josefin Sans"; font-weight:bold; font-size:2em; margin-top:15px; margin-left:20px'>Responding to: {{post.scripting_language}}</h6>
                                  <h3 style='font-family: "Josefin Sans"; font-weight:bold; font-size:2em; margin-top:15px; margin-left:20px'>{{post.comment}}</h3>
                              </div>          
                              
                            </div>
                            <div ng-show='vm.showCodingResponseField' layout='row' class='responseField'>
                              <div  class='postCodingResponseArea'>

                                <form action="" ng-submit='vm.newMessage(post.id,vm.comment,"film")'>
                                <md-input-container class="md-block">
                                  <input autofocus='true' ng-model="vm.comment" type="comment" placeholder="Message:" ng-required="true">
                                </md-input-container>
                                <button type="submit" class="btn btn-success">Submit</button>
                                </form>
                              </div>
                            </div>
                        </div>
                      </md-list-item>
                    </md-content>
                  </md-tab>
                </md-tabs>
              </md-content>
            </div>
            <div layout="column" class='mailboxRightCol' class='mailbox-message-pane'>
              <md-content>
                <p></p>
                
              </md-content>
            </div>

            </div>
          </div>
        <hr>
        <hr id='preFooter-hr'>
      </div>
    </div>  
        <!-- Footer -->
        <footer class='mailboxFooter'>
            <div class="row">
                <div  class="col-lg-12 text-center">
                    <p>Copyright &copy; cravenTech 2016 || the world is your oyster</p>
                </div>
            </div>
        </footer>
    <!-- /.container -->

