    <link href="stylesheets/heroic-features.css" rel="stylesheet">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <img ng-src="{{vm.navpicture}}">
          <div class='name-container'>
            <div> {{vm.name}}</div>
            <a class="navbar-brand " ng-click="vm.logout()" href="javascript:;">Logout</a>
          </div>
        </div>
    </nav>
    <div class="container-fluid"   style='overflow:scroll'>
      <header class="jumbotron hero-spacer settingsJumbo">
        <a href="/loggedinHome" class="backArrow">
          <span style='margin-left:10px' class="glyphicon glyphicon-arrow-left"></span>
        </a>
        <div id='header-main-settings'>  User Settings</div>
        <form  name="newFilm"  ng-submit="vm.updateUser(vm.user)">
          <div layout='row' layout-sm="column">
            <div style='flex-grow: 1'>
              <div >
                <md-input-container  class="md-block" >
                  <label style='color:black;'>Display Name</label>
                  <input class='inputField' name="display name" md-no-asterisk ng-model="vm.user.display_name" placeholder="{{vm.user.display_name}}" autofocus='false'>
                </md-input-container>
              </div>
              <div >
                <md-input-container class="md-block zipCode" >
                   <label style='color:black'>Zip Code</label>
                   <input class='inputField' autofocus='false' ng-model="vm.user.zip_code" type="comment" placeholder="vm.user.zip_code">
                </md-input-container> 
              </div>
              <div class='settingsBio'>
                <div class="mdl-textfield mdl-js-textfield">
                  <label for="sample5">Bio</label>
                  <textarea ng-model="vm.user.bio" class="mdl-textfield__input" type="text" rows= "3" id="sample5" ></textarea>
                </div>
              </div>
            </div>
            <div style='flex-grow: 3'>
              <div class='settingsCheckboxes'>
                <div class="row">
                  <div class=" col-sm-8 col-md-offset-0 col-sm-offset-0" id='chckbx1'>Available for collaboration</div>
                  <div class='col-md-3 checkbox1'>
                    <input type="checkbox" id="checkBox1" checked name="subscribe" value="1">
                    <label for="checkBox1"></label>
                  </div>
                </div>
                <div class="row">
                  <div class=" col-sm-8 col-md-offset-0 col-sm-offset-0" id='chckbx2'>Email notifications</div>
                  <div class='col-md-3 checkbox2'>
                    <input type="checkbox" id="checkBox2" checked name="subscribe" value="1">
                    <label for="checkBox2"></label>
                  </div>
                </div>
                <div class="row">
                  <div class=" col-sm-8 col-md-offset-0 col-sm-offset-0" id='chckbx3'>Location-based profiling</div>
                  <div class='col-md-3 checkbox3'>
                    <input type="checkbox" id="checkBox3" name="subscribe" value="1">
                    <label for="checkBox3"></label>
                  </div>
                </div>
              </div>
              <div class="row submitRow">
                <div class='submitButtonContainer '>
                        <label for='submit-form' > Submit</label>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-7 btn-7h hidden" id="submit-form"> <i class="material-icons md-48" >add</i></button>
        </form>
      </header>
    </div>