    <link href="stylesheets/heroic-features.css" rel="stylesheet">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style='height: 101px;'>
        <div  class="container" style='margin-left: 0px'>
            <div class="" id="">
                    <span style='display:inline' id='newpic'><img style='display:inline-block' ng-src="{{vm.navpicture}}"
                    alt=''></span>
                <div id='newname'>
                    <div> {{vm.name}}</div>
                    <a style='font-size:12px' class="navbar-brand " ng-click="vm.logout()" href="javascript:;">Logout</a>
                </div>
             </div>
        </div>
    </nav>
    <div class="container-fluid"  style='display:inline-block;' style='overflow:scroll'>
      <header class="jumbotron hero-spacer settingsJumbo">
        <a href="/loggedinHome" class="smallGobackHomeArrow">
          <span style='margin-left:10px' class="glyphicon glyphicon-arrow-left"></span>
        </a>
        <h1 id='header-main-mailbox' class='text-left'>User Settings</h1>
        <form  name="newFilm" class='setText SETmargin' ng-submit="vm.updateUser(vm.user)">
          <div layout='row' layout-sm="column">
            <div style='flex-grow: 1'>
              <div >
                <md-input-container  class="md-block" >
                  <label style='color:black;'>Display Name</label>
                  <input class='inputField' name="display name" md-no-asterisk ng-model="vm.user.display_name" placeholder="{{vm.user.display_name}}" autofocus='false'>
                </md-input-container>
              </div>
              <div >
                <md-input-container class="md-block zipCode" >
                   <label style='color:black'>Zip Code</label>
                   <input class='inputField' autofocus='false' ng-model="vm.user.zip_code" type="comment" placeholder="vm.user.zip_code">
                </md-input-container> 
              </div>
            <!--   <div class='settingsBio'>
                <md-input-container   md-no-float >
                  <label >Bio </label>
                  <textarea  class='settingsBio' name="bio"  ng-model="vm.user.bio" placeholder=" "  ></textarea>
                </md-input-container>
              </div> -->

<!--               <form action="#">
                <div class="mdl-textfield mdl-js-textfield">
                  <textarea class="mdl-textfield__input" type="text" rows= "1" id="sample5" ></textarea>
                  <label class="mdl-textfield__label" for="sample5">Text lines...</label>
                </div>
              </form> -->

     <!--          <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                  <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                    <i class="material-icons">search</i>
                  </label>
                  <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="sample6">
                    <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                  </div>
                </div>
              </form> -->

            </div>
              <!-- <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" id="search-expandable" />
                        <label class="mdl-textfield__label" for="search-expandable">Search text</label>
              </div> -->
            <div style='flex-grow: 3; margin-top:-11px;'>
              <div class='settingsCheckboxes'>
                <div class="row">
                  <div class=" col-sm-8 col-md-offset-0 col-sm-offset-0" id='chckbx1'>Available for collaboration</div>
                  <div class='col-md-3 checkbox1'>
                    <input type="checkbox" id="checkBox1" checked name="subscribe" value="1">
                    <label for="checkBox1"></label>
                  </div>
                </div>
                <div class="row">
                  <div class=" col-sm-8 col-md-offset-0 col-sm-offset-0" id='chckbx2'>Location-based profiling</div>
                  <div class='col-md-3 checkbox2'>
                    <input type="checkbox" id="checkBox2" checked name="subscribe" value="1">
                    <label for="checkBox2"></label>
                  </div>
                </div>
                <div class="row">
                  <div class=" col-sm-8 col-md-offset-0 col-sm-offset-0" id='chckbx3'>Automatic updates</div>
                  <div class='col-md-3 checkbox3'>
                    <input type="checkbox" id="checkBox3" name="subscribe" value="1">
                    <label for="checkBox3"></label>
                  </div>
                </div>
              </div>
              <div class="row submitRow">
                <div class='submitButtonContainer '>
                        <label for='submit-form' > Submit</label>
                </div>
              </div>
            </div>
           <!--  <div class="dataShareMessageContainer">
              <div id='dataShareMessage'>
                WE WONT SHARE YOUR DATA WITH ANYONE except comcast
              </div>
            </div> -->
          </div>
          <button type="submit" class="btn btn-7 btn-7h hidden" id="submit-form"> <i class="material-icons md-48" >add</i></button>
        </form>
      </header>
      <div class='settingsOwlContainer' >
            <!-- <video id="settingsOwlVid"  muted autoplay >
              <source src="images/NewOwl666.mp4" type="video/mp4">
           </video> -->


           <form action="#">
            <div class="mdl-textfield mdl-js-textfield">
              <textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" ></textarea>
              <label class="mdl-textfield__label" for="sample5">Text lines...</label>
            </div>
          </form>
      </div>
    </div>