
		<div class="parallax-section section1">


			<!-- 
				Responsive image with picutrefill.
				Please notice the additional directives "mr-px-parallax", "mr-px-max-px" on the wrapper element.
				As well as "mr-pix-size" and "mr-px-no-px" on the childs
			-->

			<span data-picture data-alt="nasa" class="mr-px-img" mr-px-parallax mr-px-max-px="0.1"> 

				<span data-src="/images/hs-2007-16-a-500x768.jpg" mr-px-size="500,768" mr-px-no-px="true"></span>
				<span data-src="/images/hs-2007-16-a-1280x960.jpg" mr-px-size="1280,960" data-media="(min-width: 500px)" ></span>
				<span data-src="/images/hs-2007-16-a-1920x1200.jpg" mr-px-size="1920,1200" data-media="(min-width: 1400px)" ></span>

				<!--[if (lt IE 9) & (!IEMobile)]>
					<span data-src="assets/hs-2007-16-a-1280x960.jpg" mr-px-size="1280,960"></span>
				<![endif]-->
				<noscript>
					<img src="/images/hs-2007-16-a-500x768.jpg" alt="">
				</noscript>

			</span>


			<p>Wow!</p>
			<p>Much space!</p>
			<p>So color!</p>


		</div>




		<div class="parallax-section section2">

			<p>Lorem ipsum dolor sit.</p>

		</div>




		<div class="parallax-section section3">


			<!-- 
				Responsive image with picutrefill.
				Please notice the additional directives "mr-px-parallax", "mr-px-max-px" on the wrapper element.
				As well as "mr-pix-size" and "mr-px-no-px" on the childs
			-->

			<span data-picture data-alt="nasa" class="mr-px-img" mr-px-parallax mr-px-max-px="0"> 

				<span data-src="/images/hs-2007-16-a-500x768.jpg" mr-px-size="500,768" mr-px-no-px="true"></span>
				<span data-src="/images/hs-2007-16-a-1280x960.jpg" mr-px-size="1280,960" data-media="(min-width: 500px)" ></span>
				<span data-src="/images/hs-2007-16-a-1920x1200.jpg" mr-px-size="1920,1200" data-media="(min-width: 1400px)" ></span>

				<!--[if (lt IE 9) & (!IEMobile)]>
					<span data-src="/images/hs-2007-16-a-1280x960.jpg" mr-px-size="1280,960"></span>
				<![endif]-->
				<noscript>
					<img src="/images/hs-2007-16-a-500x768.jpg" alt="">
				</noscript>

			</span>


			<!-- Content -->


			<p>And the same Nasa image again.</p>



		</div>




		<div class="parallax-section section4">

			
			<!-- 
				Responsive image with picutrefill.
				Please notice the additional directives "mr-px-parallax", "mr-px-max-px" on the wrapper element.
				As well as "mr-pix-size" and "mr-px-no-px" on the childs
			-->

			<span data-picture data-alt="nasa" class="mr-px-img" mr-px-parallax mr-px-max-px="0.3"> 

				<span data-src="/images/hs-2007-16-a-500x768.jpg" mr-px-size="500,768" mr-px-no-px="true"></span>
				<span data-src="/images/hs-2007-16-a-1280x960.jpg" mr-px-size="1280,960" data-media="(min-width: 500px)" ></span>
				<span data-src="/images/hs-2007-16-a-1920x1200.jpg" mr-px-size="1920,1200" data-media="(min-width: 1400px)" ></span>

				<!--[if (lt IE 9) & (!IEMobile)]>
					<span data-src="/images/hs-2007-16-a-1280x960.jpg" mr-px-size="1280,960"></span>
				<![endif]-->
				<noscript>
					<img src="/images/hs-2007-16-a-500x768.jpg" alt="">
				</noscript>

			</span>


			<!-- Content -->


			<p>More!</p>


		</div>




		<div class="parallax-section section5">

			<p>This is the end.</p>

		</div>


	