     <!-- Custom CSS -->
    <link href="stylesheets/heroic-features.css" rel="stylesheet">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- <div class="container"> -->
            <div>
                <a class="navbar-brand login-button" ng-click="vm.login()" href="javascript:;" >Sign in / Sign up</a>
            </div>
        <!-- </div> -->
    </nav>
    <div class="container-fluid">
        <header class="jumbotron hero-spacer">
            <h1 id='header-main' class='text-center'>Welcome to Cahoots!</h1>
            <p class='text-center' id='header-description'>The creative collaboration network for the modernist.</p>
            <div class='text-center owlButton '> <hr> <a href="/" style='color:yellow'><span><img src="images/owl_clipped.png" alt=""></span></a>
            </div>
        </header>
        <hr>
        <div class="row text-center">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="revisedThumbnail" ng-click="vm.go('/filmPosts')">
                    <img  src="images/film4.jpg" alt="">
                    <div class="caption">
                        <h1>Film</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="revisedThumbnail" ng-click="vm.go('/musicPosts')">
                    <img src="images/music5.jpg" alt="">
                    <div class="caption">
                        <h1>Music</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="revisedThumbnail" ng-click="vm.go('/codingPosts')">
                    <img src="images/coding2.jpg" alt="">
                    <div class="caption">
                        <h1>Coding</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="revisedThumbnail" ng-click="vm.go('/misc')">
                    <img src="images/DIY.jpg" alt="">
                    <div class="caption">
                        <h1>DIY Projects</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr id='preFooter-hr'>
    <footer>
        <div class="row">
            <div  class="col-lg-12 text-center">
                <p>Copyright &copy; cravenTech 2018 || the world is your oyster</p>
            </div>
        </div>
    </footer>

