<div class="parallax">
	<div class="jumbotron jumbotron-register animated fadeOutUp" id="home">
      	<video id="video-background" preload muted autoplay >
      		<source src="images/owlVid.mp4" type="video/mp4">
    	 </video>
 		      <div class="parallax__layer parallax__layer--base ">
 		        <div class=' text-left'><h1 class='animated fadeInLeft cahoots-headline' >CAHOOTS</h1>
 			     </div>
 			     <div>
 			     	<h4 id='meet' class='animated fadeInUp'>meet</h4>
 			     </div>
 			     <div>
 			     	<h4 id='create' class='animated fadeInUp'>create</h4>
 			     </div>
 			     <div>
 			     	<h4 id='share' class='animated fadeInUp'>share</h4>
 			     </div>
 		      </div>        
    </div>
</div>