     <!-- Custom CSS -->
    <link href="stylesheets/heroic-features.css" rel="stylesheet">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <img ng-src="{{vm.picture}}">
            <div class='name-container'>
                <div> {{vm.name}}</div>
                <a class="navbar-brand " ng-click="vm.logout()" href="javascript:;">Logout</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <header class="jumbotron hero-spacer">
            <h1 id='header-main' class='text-center'>{{vm.welcome}}</h1>
            <p class='text-left' id='header-description'></p>
            <div class="welcomeOptionsContainer">
                <div class='pull-right settingsButton'><a href="/{{vm.user_id}}/userSettings" ><span><img src="images/gear.png" alt=""></span></a>
                </div>
                <div ng-show='!vm.hasMail' class='pull-left mailButton '><a href="/mailbox" ><span><img src="images/Inbox-empty.png" alt=""></span></a>
                </div>
                <div ng-show='vm.hasMail' class='pull-left mailButton '>
                    <a href="/mailbox" ><span><img src="images/Inbox-full.png" alt=""></span></a>
                    <img ng-click='vm.goToMail()' id='exclamation-graphic' src="images/exclamation.png" alt="">
                </div>
                <div class='text-center owlButton '><a href="/" style='color:yellow'><span><img src="images/owl_clipped.png" alt=""></span></a>
                </div>
            </div>
        </header>
        <hr>
        <div class="row text-center">
            <div class="col-md-3 col-sm-6 hero-feature animated pulse">
                <div class="revisedThumbnail" ng-click="vm.go('/filmPosts')">
                    <img  src="images/film4.jpg" alt="">
                    <div class="caption">
                        <h1>Film</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature animated pulse">
                <div class="revisedThumbnail" ng-click="vm.go('/musicPosts')">
                    <img src="images/music5.jpg" alt="">
                    <div class="caption">
                        <h1>Music</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature animated pulse">
                <div class="revisedThumbnail" ng-click="vm.go('/codingPosts')">
                    <img src="images/coding2.jpg" alt="">
                    <div class="caption">
                        <h1>Coding</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="revisedThumbnail" ng-click="vm.go('/misc')">
                    <img src="images/coming_soon.jpg" alt="">
                    <div class="caption">
                        <h1 style='font-size: 3em; line-height: 2em'>Upcoming Features</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr id='preFooter-hr'>
    <footer>
        <div class="row">
            <ul>
                <li>
                    <a href="javascript:void(0)">Privacy Policy</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Terms</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Contact</a>
                </li>
                <li style='font-size: 1.3em;'>
                    <a target="_blank" href="https://www.twitter.com">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li style='font-size: 1.3em;'>
                    <a target="_blank" href="https://www.facebook.com/CahootsLive">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <p>&copy; cravenTech 2018</p>
                </li>
            </ul>
        </div>
    </footer>

