     <!-- Custom CSS -->
    <link href="stylesheets/heroic-features.css" rel="stylesheet">


 <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div  class="loggedIn container">
            <div id='navbar' class="navbar-header">
                <a id='newloginButton' class="navbar-brand" ng-click="vm.login()" href="javascript:;" >Login</a>
            </div>
            <div>
                <span style='display:inline' id='newpic'><img style='display:inline-block' ng-src="{{vm.picture}}"
                alt=''></span>
                <div id='newname'>
                    <div> {{vm.name}}</div>
                    <a style='font-size:12px' id='newlogoutButton' class="navbar-brand " ng-click="vm.logout()" href="javascript:;">Logout</a>
                </div>
             </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container-fluid">
        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1 id='header-main' class='text-center'>{{vm.welcome}}</h1>
            <p class='text-left' id='header-description'></p>
            <div class="welcomeOptionsContainer">
                <div class='pull-right settingsButton'><a href="/{{vm.user_id}}/userSettings" ><span><img src="images/gear.png" alt=""></span></a>
                </div>
                <div ng-show='!vm.hasMail' class='pull-left mailButton '><a href="/mailbox" ><span><img src="images/Inbox-empty.png" alt=""></span></a>
                </div>
                <div ng-show='vm.hasMail' class='pull-left mailButton '><a href="/mailbox" ><span><img src="images/Inbox-full.png" alt=""></span></a>
                </div>
                <div class='text-center owlButton '><a href="/" style='color:yellow'><span><img src="images/owl_clipped.png" alt=""></span></a>
                </div>
            </div>
            

        </header>

        <hr>

  
        <!-- Page Features -->
        <div class="row text-center">
            
            <div class="col-md-3 col-sm-6 hero-feature animated pulse">

                <div class="revisedThumbnail" ng-click="vm.go('/filmPosts')">
                    <img  src="images/film4.jpg" alt="">
                    <div class="caption">
                        <h1>Film</h1>
                        <!-- <h4>make squeal-inducing moving pictures!</h4> -->
                    </div>
                </div>

            </div>

            <div class="col-md-3 col-sm-6 hero-feature animated pulse">
                <div class="revisedThumbnail" ng-click="vm.go('/musicPosts')">
                    <img src="images/music5.jpg" alt="">
                    <div class="caption">
                        <h1>Music</h1>
                        <!-- <h4>Find a tamborine player!</h4> -->
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature animated pulse">
                <div class="revisedThumbnail" ng-click="vm.go('/codingPosts')">
                    <img src="images/coding2.jpg" alt="">
                    <div class="caption">
                        <h1>Coding</h1>
                        <!-- <h4>Find someone to code with!</h4> -->
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature animated pulse">
                <div class="revisedThumbnail" ng-click="vm.go('/misc')">
                    <img src="images/DIY.jpg" alt="">
                    <div class="caption">
                        <h1>DIY Projects</h1>
                        <!-- <h4>Find a fellow hobbyist!</h4> -->
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->


    </div>
        <hr id='preFooter-hr'>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div  class="col-lg-12 text-center">
                    <p>Copyright &copy; cravenTech 2016 || the world is your oyster</p>
                </div>
            </div>
        </footer>
    <!-- /.container -->

