<div role="dialog" aria-label="Eat me!" layout="column" layout-align="center center">
    <!-- <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Surprise!</h2>
        </div>
    </md-toolbar> -->

    <div class="demo-dialog-content">
        <p>
            <!-- You hit the secret button. Here's a donut: -->
        </p>

        <div layout="row">
            <p>Cahoots is a creative project collaboration network, designed to match like minded people in your area who have big ideas.</p>
        </div>
        <div layout="row">
            <p>Browse the topic sections to see project proposals and if anything interests you, send them a message! Or post your own project idea and start building a team.</p>
        </div>
        <div layout="row">
            <p>Once you've assembled a team and outlined project milestones, launch your project and build out a project profile.</p>
        </div>
        <div layout="row">
            <p>As you complete project milestones, you earn badges and can unlock access to grants and other investment channels to get your project out in the public sphere! Cahoots does not share your data with anyone, see the privacy page for more details.</p>
        </div>
    </div>

    <div layout="row" class="demo-dialog-button">
        <md-button md-autofocus flex class="md-primary" ng-click="vm.closeDialog()">
            Close
        </md-button>
    </div>
</div>